:root {
  --primary-color: #ff4600; /* Laranja esportivo / Ação */
  --secondary-color: #111111; /* Preto carvão para contraste */
  --bg-color: #f4f5f7;
  --white: #ffffff;
  --gray-light: #e5e7eb;
  --gray-text: #6b7280;
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: inherit;
}